/* .displayBook{
  

} */

/* .descriptionSize{
    text-overflow: ellipsis;
} */

/* .descriptionSize {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
   /* flex-wrap: wrap; */
    /* box-sizing: content-box; */
  /* }  */
  
  .header {
    color: #1a535c;
    font-size: 3em;
}

  .card{
    padding: 10px;
    margin: 5px;
    background-color: #1a535c;
    box-shadow: 5px 8px 8px #888888;
   
  }

  .card-body{
    background-color:#bae9e5;

  }
 
  .btn {
    background-color: #1a535c;
    margin: 4px;
    color: white;
  }
 .btn:hover{
    background-color: #bae9e5;
    border: solid 1px #1a535c;
 }

  body{
      background-color: #f7fff7;
      /* overflow: hidden; 
      height: 100vh; */
  }

  a{
      font-size: large;
      font-weight: bolder;
  }

  .reduceDescription {
    width: 250px;
    max-height: 300px;
    /* white-space: nowrap;
    overflow: scroll; */
    overflow-x: scroll;
    text-overflow: ellipsis;
    
    padding: 20px;
    font-size: 1.3rem;
    margin: 0;
    background: #bae9e5;
    resize: horizontal;
  }

  .like-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
  }

  .fa-heart{
    position: absolute;
    font-size: var(--like-font-size);
    -webkit-text-stroke: 3px #e5e5e5;
    color: whitesmoke;
    transition: all ease-in-out;
}
  

.like-btn:checked + .fa-heart{
  color: red;
  -webkit-text-stroke: 1px red;
  animation: .5s linear burst; 
}

/* 
  #cfc0b7; */
  /* ffcb69 */
  /* #f2e8e3; */
  /* #797d62; */