/* .displayBook{
display: flex;
flex-direction: row;

} */

/* .descriptionSize{
    text-overflow: ellipsis;
} */

/* .descriptionSize {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
   /* flex-wrap: wrap; */
    /* box-sizing: content-box; */
  /* }  */

